@tailwind base;

@font-face {
    font-family: OpenSans;
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSansBold;
    src: url('fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url('fonts/OpenSans/OpenSans-SemiBold.ttf');
}

@tailwind components;

@tailwind utilities;
